body,
html {
  background-image: url(../imgs/drivers-f1-jpg.webp);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 25%;
  display: inline-block;
  vertical-align: middle;
}

#principal {
  height: 40%;
  width: 40%;
  background-color: rgba(85, 85, 85, 0.8);
  font-size: 1.4em;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
}

h1 {
  margin-top: -10%;
  margin-bottom: 7%;
}

#game-container {
  margin-top: -2%;
}

#point-store {
  height: 50%;
  width: 40%;
  font-size: 1.4em;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1%;
  background-color: rgba(85, 85, 85, 0.8);
  border: 1% solid white;
}

h2{
  margin: 0;
}

#point-store h2 {
  margin-bottom: 2%;
} 

#point-store p {
  margin: 2% 0;
}

#point-store button {
  margin: 5px 0;
  padding: 10px;
  background-color: #222222;
  color: white;
  border: none;
  cursor: pointer;
}
#point-store button:hover {
  background-color: #7c7c7c;
}

i {
  font-size: 120%;
  margin-top: 2%;
}
